<section id="top"class="wrapper">
<div class="village-box">
  <div class="transbox">
    <h1 class="title">The Evil Underneath</h1>
  </div>
</div>



<section class="story-block">
  <h1 class="title2">The Evil Underneath</h1>



<div class="story">
	<p>This is an interactive story. Click the button to begin</p>
	<button type="button" name="button" ng-click='earthquake(); wakeUp=true'>Start your adventure</button>

</div>
<div class="story" ng-show='wakeUp'>
  <p>You awake to the world shaking. The few sentimental treasures you keep on your bedside table are rattling on the ground next to the overturned table. You hear a sharp crack above you as you stumble toward the doorway out of your bedroom. The shaking forces you to your knees and you roll out of the doorway just as the beam above your bed breaks in two and the pale yellow thatched roof collapses. The earthquake stops as suddenly as it started. You, however, are still trembling. The prophesy. You head outside to assess the damage to your house and the village, and then head to the green. There will no doubt be a meeting. "The earth will rage and the structures of man shall fall." Evil was coming.</p>
	<br>
	<p>It has been five years since Lady Celine uttered the prophesy from her deathbed. Her body convulsed as she foretold the death and destruction that was to come. The villagers, and maybe the world, would be slaves to a great evil unless a champion rose up, mastered magic, and was present when the evil came. Some immediately moved to nearby villages. Most stayed, some not believing in the fever dreams of an old dying woman; most, however, clung to hope and a champion was selected.</p>
	<br>
	<p>Bryce was by far the most popular choice. He readily accepted and headed out to a mage school to learn magic. Bryce had protected and looked after you when your parents died, and now he would protect the village. It felt right. He was a good man, and had always been a good brother.</p>
	<br>
	<p>You reach the green along with most of the village. The mood is grim. Not all survived the quake. Not all were hopeful. Two years. That's all the prophesy gave after the quake. Two years. You hope that Bryce will have enough time to master his art. The crowd hushes as Master Perryl wearily takes his place in front of the crowd.</p>
	<br>
	<p>"The earth has spoken," he says. "In two years time, the evil spoken of by Lady Celine will be upon us. It is my duty and burden to inform you, however," he announces, glancing at me, "that Bryce is dead."</p>
	<br>
	<p>The crowd erupts. Your heart sinks.</p>
	<br>
	<p>"A messenger arrived early this morning," he shouts, quieting the crowd. "As soon as I opened the letter, the earth began to shake. Bryce was on an errand for his masters at the school when his party was overcome by a horde of goblins. I'm afraid we have no time to grieve. A new champion must be selected."</p>
	<br>
	<p>All eyes turn to you. You have no family. No ties. Like your brother, you have always excelled at your studies. You take a breath and nod.</p>
	<br>
	<p>Master Perryl informs you that you have two options and urges you to choose wisely. Talos, god of storms, has made known to his devotees that he seeks a cleric at his temple south of your village. There you would learn to channel his power. The wizards at Bryce's school offered in their letter to train another champion in his stead. You would head east immediately. Two years is not long, but Master Perryl has faith in you. Where will you go?</p>

	<div class="choices-box">
		<button type="button" name="button" ui-sref="three({id: 'c1_3o'})" ng-click="toTop()">South to Talos's temple</button>
		<button type="button" name="button" ui-sref="three({id: 'w1_3o'})" ng-click="toTop()">East to the wizards</button>
  </div>

<br>
<br>
<br>
<br>
</div>
